<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Early Warning System</title>
  </head>
  <body>
    <!-- Image and text -->
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	    <img src="https://cisantana.id/assets/img/Email/logo_300.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    PT. Pupuk Kujang
	  </a>
	</nav>
	<div class="card m-5">
	  <div class="card-body">
	  	<div class="row">
	  		<div class="col-lg-12 col-md-12 col-sm-12">
	  			<h3 class="text-center text-muted">Pengumuman!</h3>
	  			<p class="text-center">Dokumen anda dengen nomor dokumen 12/LT/2020/1, masa berlaku dokumen tersebut tinggal :</p>
	  			<h3 class="text-center">14 Hari Lagi</h3>
	  		</div>
	  	</div>		
	  	<div class="row">
	  		<center><div class="col-lg-10 col-md-10 col-sm-10">
	  			<img src="https://cisantana.id/assets/img/Email/Notify.png" class="img-fluid">
	  		</div></center>
	  	</div>
	  	<div class="row">
		  	<div class="col-lg-12 col-md-12 col-sm-10">
		  		<p class="text-center">Untuk menghindari kejadian yang tidak diinginkan, mohon cek kembali masa berlaku dokumen anda!</p>
	  			<center>
		  			<a href="#" class="btn btn-success">Download Dokumen</a>
	  			</center>
		  	</div>
	  	</div>
	  </div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h3 class="text-center">Earli Warning System <small class="text-muted">PT. Pupuk Kujang</small></h3>
		</div>
	</div>	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>